name: Snake Animation
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Nicolas-Voges
          outputs: |
            output/snake.svg
            output/snake-dark.svg?palette=github-dark
            output/snake-dark-2.svg?palette=github-dark-dimmed

      - name: Push to Output Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: output
          branch: output
